form {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
}

h2 {
    text-align: center;
    color: #333;
}

input[type="text"],
input[type="email"],
input[type="password"],
button {
    width: 90%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 0px;
}

button {
    background-color:#8d2bbf ;
    color: white;
    border: none;
    cursor: pointer;
    transition-duration: 400ms;
}

button:hover{
    background-color: #28a745;
    transition-duration: 400ms;
    border-radius: 23px;
    color:#f6e0ff;
}

a {
    display: block;
    text-align: center;
    margin-top: 10px;
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

@media screen and (max-width: 768px) {
    button {
        background-color: #28a745;
        color: white;
        border: none;
        cursor: pointer;
        transition-duration: 400ms;
    }
    
    button:hover{
        background-color: #8d2bbf;
        transition-duration: 400ms;
        border-radius:0px;
        color:#f6e0ff;
    }

    input[type="text"],
input[type="email"],
input[type="password"],
button {
    width: 90%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 4px;
}
}