.todo-list-item {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 1px solid #ccc;
    align-items: center;
    background-color: rgb(202, 220, 255);
    border-radius: 13px;
    line-height: 20px;
}
li.todo-list-item:hover{
    background-color: aqua;
    transition-duration: 400ms;
}
.todo-title {
    flex: 1;
}

.todo-description {
    flex: 2;
}

.todo-deadline {
    flex: 1;
}

.todo-actions {
    margin-left: 20px;
}

.overdue {
    background-color: #ea0d1f;
}s

button, a{
    margin-left: 10px;
    padding: 5px 30px;
    text-decoration: none;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 3px;
}

button, a:hover{
    background-color: rgb(153, 61, 228);
    color: #e9e9e9;
    transition-duration: 400ms;
}
button.done{
    background-color: #28a745;
    color:aliceblue;
    border: none;
    border-radius: 3px;
    padding: 5px 10px;
}
button.done :hover{
    background-color: #017a1d;
    transition-duration: 400ms;
}
a.delete-button {
    background-color: #ff0019;
}

a.delete-button :hover{
    background-color: #d52d3e;
}

@media screen and (max-width: 768px) {
    .todo-list-item {
        flex-direction: column;
        padding: 15px;
        margin-bottom: 15px;
    }

    .todo-title, .todo-description, .todo-deadline {
        flex: none;
        width: 100%; 
        margin-bottom: 10px; 
    }

    .todo-actions {
        display: flex;
        justify-content: space-between; 
    }

    button, a {
        width: 100%; 
        margin-bottom: 10px; 
    }
}