
body {
    font-family: Arial, sans-serif;
    background-color: #7f0fc1d6;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

form {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
}

h2 {
    text-align: center;
    color: #333;
}

input[type="email"],
input[type="password"],
button {
    width: 95%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #dddddd;
    border-radius: 0px;
}

button {
    background-color:#8d2bbf ;
    color: white;
    border: none;
    cursor: pointer;
    transition-duration: 400ms;
}

button:hover{
    background-color: #28a745;
    transition-duration: 400ms;
    border-radius: 23px;
    color:#f6e0ff;
}

a {
    display: block;
    text-align: center;
    margin-top: 10px;
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

h2 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
    font-size: 24px;
}
